[Unit]
Description=webFimos Service
After=network.target

[Service]
ExecStart=/usr/sbin/webFimos /etc/web-fimos/config.json
Restart=always
StandardOutput=append:/var/log/web-fimos/web-fimos.log
StandardError=append:/var/log/web-fimos/web-fimos.log

[Install]
WantedBy=multi-user.target