[Unit]
Description=webFimos Service
After=network.target

[Service]
ExecStart=/usr/bin/webFimos -config /etc/web-fimos/web-fimos.json
Restart=always
StandardOutput=append:/var/log/web-fimos/web-fimos.log
StandardError=append:/var/log/web-fimos/web-fimos.log

[Install]
WantedBy=multi-user.target
